*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    background: rgb(15, 15, 15);
}

h1
{
    padding-left: 42%;
    padding-top: 5px;
    color: rgb(1, 155, 1);
}

span
{
    color: white;
}

.container 
{
    width: 350px;
    height: 620px;
    background: black;
    position: absolute;
    top: 10%;
    left: 35%;
    border-radius: 15px;
}
.todoList
{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    background: white;
    padding: 5px;
    border-bottom: 2px solid gray;
    border-radius: 5px;
    height: 40px;
    box-shadow: 5px 5px rgb(51, 51, 51);
    font-weight: bold;
    flex-wrap: wrap;
    width: 325px;
    transition: 100ms ease-in-out;
}
.todoList:hover
{
    transform: scale(1.03);
}


.deleteTask
{
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background: red;
    color: white;
    outline: none;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: all 200ms ease-in-out;
}

.deleteTask:hover
{
    transform: scale(1.3);
}

.pText
{
    background: white;
    text-transform: capitalize;
}

.inputvalue
{
    display: flex;
    margin: 5px;
    margin-bottom: 25px;
}

.inputVal
{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin-right: 5px;
    border: 2px solid gray;
}

.btn
{
    width: 100px;
    background: green;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    outline-style: none;
    border-radius: 10px;
    box-shadow: 1px 1px gray;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.btn:hover
{
    transform: scale(1.1);
}


.clearTasks
{
    position: absolute;
    bottom: 5px;
    left: 15%;
    background: red;
    color: white;
    width: 250px;
    height: 35px;
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    outline-style: none;
    transition: all 200ms ease-in-out;
}


.clearTasks:hover
{
    transform: scale(1.1);
}


@keyframes smooth 
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}